body {
    font-family: sans-serif;
}

/* -------- weather app -------- */
.weather-app-wrapper {
    text-align: center;
}

/* -------- location display -------- */
.location-display {
    text-align: center;
    margin-top: 10px;
}

.location-display .city {
    font-size: 1.2em;
}

/* -------- search bar -------- */
.searchbox-wrapper {
    text-align: center;
}

.input-group {
    margin: 10px auto;
    width: 90%;
    overflow: hidden;
    height: 1.6em;
    font-size: 1em;
}

.input-group .btn:focus {
    outline: none;
}

/* -------- weather data -------- */
.data-container {
    text-align: center;
}

.city-tablet-above {
    display: none;
}

.temperature-container {
    position: relative;
    display: block;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.condition-icon {
    display: inline-block;
    position: absolute;
    transform: translateX(-160%);
}

.temperature {
    display: block;
    text-align: center;
}

#temperature-value {
    display: inline-block;
    font-size: 3.6em;
    line-height: 1.3;
    transform: translateX(15%);
}

#unit {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 2.5;
    padding-left: 5px;
}

.condition {
    display: block;
    font-size: 0.9em; 
    text-transform: capitalize;
}

/* -------- other conditions --------*/
.other-conditions {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    list-style-type: none;
    font-size: 3.4vw;
    text-align: left;
}

.other-conditions li {
    display: inline-block;
    width: 24%;
    text-align: center;
    vertical-align: top;
}

.other-conditions li:first-child {
    margin-right: -10px;
}

.other-conditions li:last-child {
    margin-left: 10px;
}

.other-conditions li span {
    display: block;
}

/* -------- forecast list -------- */
.other-conditions-forecast {
    display: inline-block;
}

.forecast-temperature {
    font-size: 1.5em;
}

/* -------- forecast list item -------- */
.forecast-list-item {
    width: 90%;
    text-align: left;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px 10px;
    background: #eeeeee;
}

.forecast-date {
    padding-bottom: 10px;
    font-weight: bold;
}

.main-forecast-data {
    display: inline-block;
    width: 50%;
    font-size: 0.9em;
    vertical-align: top;
}

.main-forecast-data span {
    text-transform: capitalize;
}

.other-conditions-forecast {
    display: inline-block;
    font-size: 0.9em;
}

.other-condition-label,
.other-conditions-forecast span {
    display: inline-block;
    padding-right: 5px;
}

/* -------- media queries -------- */
@media only screen and (max-width: 766px) and (min-width: 426px) {
        body {
            padding: 0 5%;
        }
        #temperature-value {
            font-size: 100px;
            line-height: 1;
        }
        
        .condition-icon {
            display: inline-block;
            position: absolute;
            transform: translateX(-200%);
        }

        .other-conditions {
            font-size: 1em;
        }
    }
            
@media only screen and (min-width: 767px) {
    body {
        padding: 0 15%;
    }
    
    .temperature-container,
    .other-conditions {
        margin-left: 5%;
        padding-top: 10px;
    }
    
    .temperature-container {
        text-align: left;
    }
    
    .temperature {
        display: inline-block;
        text-align: left;
    }
    
    .condition-icon {
        display: inline-block;
        position: relative;
        transform: none;
        vertical-align: top;
    }
    
    .condition-icon img {
        width: 80px;
        height: 80px;
    }
    
    #temperature-value {
        display: inline-block;
        font-size: 130px;
        line-height: 0.8;
        transform: none;
    }
    
    #unit {
        font-size: 22.75px;
        line-height: 1; 
        padding: 0;       
    }
    
    .condition {
        font-size: 1.2em;
        margin-top: 10px;
    }
    
    .other-conditions {
        font-size: 1em;
    }
    
    .other-conditions li {
        display: inline-block;
        width: auto; 
        margin-right: 10px;
        margin-left: 0;
    }

    .other-conditions li:first-child {
        margin-right: 10px;
    }
    
    .other-conditions li:last-child {
        margin-left: 0px;
    }
}

@media only screen and (min-width: 1023px) {

/* -------- media query - forecast list item -------- */
    .forecast-temperature {
        font-size: 1.2em;
    }
    .forecast-list-item {
        display: inline-block;
        width: 16%;
        margin-right: 2.5%;
    }

    .forecast-list-item:last-child {
        margin-right: 0;
    }

    .main-forecast-data,
    .other-conditions {
        display: block;
        width: 100%;
    }

     .main-forecast-data {
         padding-bottom: 5px;
     }
}