body {
    font-family: sans-serif;
}

/* -------- weather app -------- */
.weather-app-wrapper {
    text-align: center;
}

/* -------- location display -------- */
.location-display {
    margin-top: 10px;
}

.location-display .city {
    font-size: 1.2em;
}

/* -------- search bar -------- */
.searchbox-wrapper {
    text-align: center;
}
.input-group {
    margin: 10px auto;
    width: 90%;
    overflow: hidden;
    height: 1.6em;
    font-size: 1em;
}

/* -------- weather data -------- */
.data-container {
    text-align: center;
}

.city-tablet-above {
    display: none;
}

.temperature-container {
    display: block;
    text-align: left;
    padding: 10px 10px;
}

.condition-icon {
    display: inline-block;
    vertical-align: top;
}

.temperature {
    display: inline-block;
    text-align: left;
}

#temperature-value {
    display: inline-block;
    font-size: 3.6em;
    line-height: 1.3;
}

#unit {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 2.5;
}

.condition {
    display: block;
    font-size: 0.9em; 
}

/* -------- other conditions --------*/
.other-conditions {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    list-style-type: none;
    font-size: 3.4vw;
    text-align: left;
}

.other-conditions li {
    display: inline-block;
    width: 24%;
    text-align: center;
    vertical-align: top;
}

.other-conditions li:first-child {
    margin-right: -10px;
}

.other-conditions li:last-child {
    margin-left: 10px;
}

.other-conditions li span {
    display: block;
}

/* -------- media queries -------- */
@media only screen and (min-width: 767px) {
    .city-tablet-above {
        display: block;
    }
}